body{
    background-color: black;
    font-family: "Lato", sans-serif;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
  
  .sidenav {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }

  #Eksempler{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}
h2{
    display:grid;
    bottom: 50px;
    position: relative;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    background-color: #40B0A6;
    width: 400px;
    height: 33px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 2px solid #294A6D;
    z-index: 1;
    }